body{
    background-color: #252525;
    color: rgba(255, 253, 253, 0.986);
    border: 50px;
    font-size: 19px;
}

img {
    width:  1406px;
     }
 
p{
    color: rgba(117, 115, 115, 0.877);
}

.grid{
    display: grid;
    grid-template-columns: 300px 300px;
}

.box{
    display: flex;
    flex-direction:row ;
    gap: 100px;
}

footer{
    text-align: center;
}

footer span{
   color: white;
}
button{
    padding: 10px 15px 10px;
    color: white;
    background-color:rgba(117, 115, 115, 0.877);
}
.titre{
    position: relative;
    bottom: 500px; ;
  color: rgb(2, 2, 2);
  font-size: 300%;
}
.imagetitre{
    opacity: 0.7;
}
